# Dependencias
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Builds y cache
dist/
build/
.vite/
.cache/
coverage/

# Archivos de configuración local
.env
.env.local
.env.*.local
.vscode/
.idea/
*.log

# Sistema operativo
.DS_Store
Thumbs.db
*.swp
*.tmp
*.bak

# Archivos de test temporales
*.coverage
*.lcov
